h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px ;
    font-weight: 400;
    font-style: normal
    
    
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 100px;
  }
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 80px;
  }
}





/* Links */


nav {
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

@media screen and (min-width: 601px) {
  nav {
    font-size: 30px;
  }
}


@media screen and (max-width: 600px) {
  nav {
    font-size: 20px;
  }
}


/* Polaroid boxes */

div.polaroid {
    margin: auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-style: italic;
    color: gray;
    overflow: hidden;

    }
  
  img {width: 70%;}
  
  div.container {
    text-align: center;
    padding: 10px 10px;
  }


  @media screen and (min-width: 601px) {
    div.container {
      font-size: 12px;
    }
  }

  
  @media screen and (max-width: 600px) {
    div.container {
      font-size: 10px;
    }
  }